In [1]:
!pip install -r requirements.txt

Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (1.20.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.4)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn->-r requirements.txt (line 3)) (0.24.2)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn->-r requirements.txt (line 3)) (1.6.3)

In [2]:
import sklearn
import numpy as np
import pandas as pd

In [3]:
df_q1= pd.read_csv('data/ssa-report-pct-1q-2017.csv')
df_q2 = pd.read_csv('data/ssa-report-pct-2q-2017.csv')
df_q3 = pd.read_csv('data/ssa-report-pct-3q-2017.csv')
df_q4 = pd.read_csv('data/ssa-report-pct-4q-2017.csv')

In [4]:
df_q1

      Pct Intervention Type     Restraints Gender   Age            Race
0       1          Arrested          Metal      M  16.0           White
1       1          Arrested          Metal      F  18.0           Black
2       1          Arrested          Metal      F  19.0           Black
3       1   Child in Crisis          Metal      F  16.0  White Hispanic
4       1   Child in Crisis  No Restraints      F  14.0           White
...   ...               ...            ...    ...   ...             ...
3296  123         Mitigated  No Restraints      M  16.0  White Hispanic
3297  123         Mitigated  No Restraints      M  16.0  White Hispanic
3298  123         Mitigated  No Restraints      F  17.0           White
3299  123         Mitigated  No Restraints      M  17.0           White
3300  123         Mitigated  No Restraints      M  35.0           White

[3301 rows x 6 columns]

In [5]:
df_q2

      Pct Intervention Type     Restraints Gender   Age                Race
0       1          Arrested          Metal      M  18.0  Asian/Pacific Isl.
1       1          Arrested          Metal      M  17.0               Black
2       1          Arrested          Metal      F  16.0  Asian/Pacific Isl.
3       1          Arrested          Metal      F  16.0               White
4       1          Arrested          Metal      M  17.0      White Hispanic
...   ...               ...            ...    ...   ...                 ...
2687  123         mitigated  No Restraints      F  15.0               White
2688  123         mitigated  No Restraints      M  14.0               White
2689  123         mitigated  No Restraints      M  14.0               White
2690  123         mitigated  No Restraints      M  16.0               White
2691  123         mitigated  No Restraints      M   6.0     American Indian

[2692 rows x 6 columns]

In [6]:
df_q3

     Pct Intervention Type     Restraints Gender   Age                Race
0      1   Child in Crisis  No Restraints      M  17.0  Asian/Pacific Isl.
1      1         Mitigated  No Restraints      M  14.0               Black
2      1         Mitigated  No Restraints      M  16.0      White Hispanic
3      1   Child in Crisis  No Restraints      M  18.0  Asian/Pacific Isl.
4      1   Child in Crisis          Metal      F  17.0         East Indian
..   ...               ...            ...    ...   ...                 ...
969  123          Arrested          Metal      M  14.0      Black Hispanic
970  123         Mitigated  No Restraints      M  16.0               White
971  123         Mitigated  No Restraints      M  14.0               White
972  123         Mitigated  No Restraints      M  15.0               White
973  123         Mitigated  No Restraints      M  16.0               Black

[974 rows x 6 columns]

In [7]:
df_q4

      Pct Intervention Type     Restraints Gender   Age            Race
0       1           Summons  No Restraints      F  16.0           Black
1       1          Arrested         Velcro      F  17.0           Black
2       1          Arrested          Metal      F  16.0           Black
3       1          Arrested          Metal      M  43.0           Black
4       1   Child in Crisis  No Restraints      M  15.0  White Hispanic
...   ...               ...            ...    ...   ...             ...
3632  123         Mitigated  No Restraints      F  14.0           White
3633  123         Mitigated  No Restraints      M  16.0           White
3634  123    PINS / Warrant          Metal      M  16.0  White Hispanic
3635  123           Summons          Metal      M  17.0           Black
3636  123           Summons  No Restraints      M  17.0  White Hispanic

[3637 rows x 6 columns]

In [8]:
df_first_half = pd.concat([df_q1, df_q2])

In [9]:
df_first_half

      Pct Intervention Type     Restraints Gender   Age             Race
0       1          Arrested          Metal      M  16.0            White
1       1          Arrested          Metal      F  18.0            Black
2       1          Arrested          Metal      F  19.0            Black
3       1   Child in Crisis          Metal      F  16.0   White Hispanic
4       1   Child in Crisis  No Restraints      F  14.0            White
...   ...               ...            ...    ...   ...              ...
2687  123         mitigated  No Restraints      F  15.0            White
2688  123         mitigated  No Restraints      M  14.0            White
2689  123         mitigated  No Restraints      M  14.0            White
2690  123         mitigated  No Restraints      M  16.0            White
2691  123         mitigated  No Restraints      M   6.0  American Indian

[5993 rows x 6 columns]

In [10]:
df_second_half = pd.concat([df_q3, df_q4])

In [11]:
df_second_half

      Pct Intervention Type     Restraints Gender   Age                Race
0       1   Child in Crisis  No Restraints      M  17.0  Asian/Pacific Isl.
1       1         Mitigated  No Restraints      M  14.0               Black
2       1         Mitigated  No Restraints      M  16.0      White Hispanic
3       1   Child in Crisis  No Restraints      M  18.0  Asian/Pacific Isl.
4       1   Child in Crisis          Metal      F  17.0         East Indian
...   ...               ...            ...    ...   ...                 ...
3632  123         Mitigated  No Restraints      F  14.0               White
3633  123         Mitigated  No Restraints      M  16.0               White
3634  123    PINS / Warrant          Metal      M  16.0      White Hispanic
3635  123           Summons          Metal      M  17.0               Black
3636  123           Summons  No Restraints      M  17.0      White Hispanic

[4611 rows x 6 columns]

In [12]:
SSA_2017_PCT_df = pd.concat([df_first_half, df_second_half])

In [13]:
SSA_2017_PCT_df

      Pct Intervention Type     Restraints Gender   Age            Race
0       1          Arrested          Metal      M  16.0           White
1       1          Arrested          Metal      F  18.0           Black
2       1          Arrested          Metal      F  19.0           Black
3       1   Child in Crisis          Metal      F  16.0  White Hispanic
4       1   Child in Crisis  No Restraints      F  14.0           White
...   ...               ...            ...    ...   ...             ...
3632  123         Mitigated  No Restraints      F  14.0           White
3633  123         Mitigated  No Restraints      M  16.0           White
3634  123    PINS / Warrant          Metal      M  16.0  White Hispanic
3635  123           Summons          Metal      M  17.0           Black
3636  123           Summons  No Restraints      M  17.0  White Hispanic

[10604 rows x 6 columns]

In [14]:
SSA_2017_PCT_df.to_csv('data/clean_SSA_2017_PCT.csv', encoding='utf-8')